@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

/* Using Font 1 for headers */
/* REPLACE 'YourHeaderFontFromTypekit' with the actual font family name from your Typekit kit */
h1, h2, h4 {
  font-family: 'qiduwy', sans-serif; /* Example: 'qiduwy-typekit' or 'adelle-sans' */
}

/* Using Font 2 for body text */
/* REPLACE 'YourBodyFontFromTypekit' with the actual font family name from your Typekit kit */
p, h3, a {
  font-family: 'Montserrat', sans-serif; /* Example: 'montserrat-typekit' or 'proxima-nova' */
}


@font-face {
  font-family: 'qiduwy';
  src: url('./assets/fonts/qiduwy-webfont.woff2') format('woff2'),
       url('./assets/fonts/qiduwy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}